.signup {
    border: 1px solid white;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    float: right;
    text-align: center;
} 

.login {
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    float: right;
    text-align: right;
    position: relative;
}


.logo {
    max-height: 65px;
    position: relative;
    border-radius: 5px;
}

.navbar {
    background: #00000031;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-top: 0;
    margin-left: -10px;
}
  
  
.navbar a {
    position: relative;
    display: flex;
    align-items: center;
    height: 59px;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0px;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.05)
}

.navbar-title {
font-family: 'Montserrat', sans-serif;
/* color: white; */
letter-spacing: -2px;
text-decoration: none;
font-size: 29px;
font-weight: bold;
}

.navbar-title {
text-align: left;
}

ul > li {
    display: inline-block;
    padding: 3px 15px 3px 15px;
    /* background: black; */
    /* color: white;s */
    font-weight: bold;
    font-size: 30px;
}

.navbar > li {
    position: relative;
    display: flex;
    align-items: center;
    height: 59px;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0px;
    z-index: 1;
    border: none
}

.logoutButton {
    background: #00000031;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: not-allowed;
}

.logoutButton:hover {
    color: #000000;
    position: sticky;
    background: #ffffff;
}
